table {
  width: 100%;
}

.spinner-container {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 20%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: whitesmoke;
}
