table {
  width: 100%;
}

th {
  white-space: nowrap
}

.spinner-container {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 20%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-column-dob {
  flex: none;
  white-space: nowrap;
}

.mat-column-actions {
  flex: none;
  width: 20%;
  white-space: nowrap;
}

.mat-column-status {
  text-align:center;
}
