table {
  margin-bottom: 1em;
  margin-top: 1em;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #F6F6F6;
}

section {
  display: table;
}

.category-text {
  font-size: 1.4em;
  color:#3F51B5;
  padding-top: 0.5em;
}

.tile-text {
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 2em;
}

