<div class="top-spacer bottom-spacer container">

  <div class="tile-text">{{ caseDetails?.Patient?.Name?.family }}, {{ caseDetails?.Patient?.Name?.given }}</div>

  <mat-toolbar>

    <a mat-button (click)="scrollToElement('#provider')">
      Provider
    </a>
    <a mat-button (click)="scrollToElement('#facility')">
      Facility
    </a>
    <a mat-button (click)="scrollToElement('#identifying_info')">
      Identifying Info
    </a>
    <a mat-button (click)="scrollToElement('#guardian')">
      Guardian Info
    </a>
    <a mat-button (click)="scrollToElement('#immunization')">
      Immunization
    </a>
    <a mat-button (click)="scrollToElement('#dates')">
      Dates
    </a>
    <a mat-button (click)="scrollToElement('#diagnostics')">
      Diagnostics
    </a>
    <a mat-button (click)="scrollToElement('#medication')">
      Medication
    </a>
    <a mat-button (click)="scrollToElement('#lab_results')">
      Lab Results
    </a>
    <a mat-button (click)="scrollToElement('#symptoms')">
      Symptoms
    </a>

  </mat-toolbar>

  <div id="provider" class="top-spacer">
    <mat-card class="mat-elevation-z8">
      <div class="category-text">Provider</div>
      <div>
        <table style="width: 100%;">
          <thead>
          <tr>
            <th>Address</th>
            <th>Country</th>
            <th>Email</th>
            <th>Fax</th>
            <th>Name</th>
            <th>Phone</th>
            <th>ID</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let provider of caseDetails.Provider">
            <td>{{provider.Address}}</td>
            <td>{{provider.Country}}</td>
            <td>{{provider.Email}}</td>
            <td>{{provider.Fax}}</td>
            <td>{{provider.Name}}</td>
            <td>{{provider.Phone}}</td>
            <td>{{provider.ID?.value}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </mat-card>
  </div>


  <div class="top-spacer" id="facility">
    <mat-card class="mat-elevation-z8">
      <div class="category-text">Facility</div>
      <div *ngIf="!caseDetails.Facility">
        <div style="font-style: italic;">No data to display.</div>
      </div>
      <div *ngIf="caseDetails.Facility">
        <table style="width: 100%">
          <tr>
            <td style="width:20%">Address</td>
            <td>{{caseDetails.Facility.Address}}</td>
          </tr>
          <tr>
            <td style="width:20%">Fax</td>
            <td>{{caseDetails.Facility.Fax}}</td>
          </tr>
          <tr>
            <td style="width:20%">Fax</td>
            <td>{{caseDetails.Facility.Fax}}</td>
          </tr>
          <tr>
            <td style="width:20%">Hospital Unit</td>
            <td>{{caseDetails.Facility.Hospital_Unit}}</td>
          </tr>
          <tr>
            <td style="width:20%">Name</td>
            <td>{{caseDetails.Facility.Name}}</td>
          </tr>
          <tr>
            <td style="width:20%">Phone</td>
            <td>{{caseDetails.Facility.Phone}}</td>
          </tr>
        </table>
      </div>
    </mat-card>
  </div>

  <div class="top-spacer" id="identifying_info">
    <mat-card class="mat-elevation-z8">
      <div class="category-text">Patient Identifying Info</div>
      <div *ngIf="!caseDetails.Patient">
        <div style="font-style: italic;">No data to display.</div>
      </div>
      <div *ngIf="caseDetails.Patient">
        <table style="width: 100%">
          <tr>
            <td style="width:20%">Birth Date</td>
            <td>{{caseDetails.Patient.Birth_Date | date}}</td>
          </tr>
          <tr>
            <td style="width:20%">Death Date</td>
            <td>{{caseDetails.Patient.Death_Date}}</td>
          </tr>
          <tr>
            <td style="width:20%">Ethnicity</td>
            <td>{{caseDetails.Patient.Ethnicity?.Display}}</td>
          </tr>
          <tr>
            <td style="width:20%">Insurance</td>
            <td>{{caseDetails.Patient.Insurance_Type?.Display}}</td>
          </tr>
          <tr>
            <td style="width:20%">Name</td>
            <td>{{caseDetails.Patient.Name?.given}} {{caseDetails.Patient.Name?.family}}</td>
          </tr>
          <tr>
            <td style="width:20%">Occupation</td>
            <td>{{caseDetails.Patient.Occupation}}</td>
          </tr>
          <tr>
            <td style="width:20%">Race</td>
            <td>{{caseDetails.Patient.Race.Display}}</td>
          </tr>
          <tr>
            <td style="width:20%">Sex</td>
            <td>{{caseDetails.Patient?.Sex}}</td>
          </tr>
          <tr>
            <td style="width:20%">Pregnant</td>
            <td>{{caseDetails.Patient.Pregnant}}</td>
          </tr>
          <tr>
            <td style="width:20%">Patient Class</td>
            <td>{{caseDetails.Patient.PatientClass}}</td>
          </tr>
          <tr>
            <td style="width:20%">Address</td>
            <td>{{caseDetails.Patient.Street_Address}}</td>
          </tr>
        </table>
      </div>
    </mat-card>
  </div>

  <div class="top-spacer" id="guardian">
    <mat-card class="mat-elevation-z8">
      <div class="category-text">Patient Guardian Info</div>
      <div *ngIf="!caseDetails.Parents_Guardians || caseDetails.Parents_Guardians == 0">
        <div style="font-style: italic;">No data to display.</div>
      </div>
      <div *ngFor="let guardian of caseDetails.Parents_Guardians">
        <table style="width: 50%">
          <tr>
            <td style="width:20%">Name</td>
            <td>{{guardian.Name?.given}} {{guardian.Name?.family}}</td>
          </tr>
          <tr>
            <td style="width:20%">Phone</td>
            <td>{{guardian.Phone}}</td>
          </tr>
          <tr>
            <td style="width:20%">Email</td>
            <td>{{guardian.Email}}</td>
          </tr>
        </table>
      </div>
    </mat-card>
  </div>

  <div class="top-spacer">
    <mat-card class="mat-elevation-z8">
      <div class="category-text">Travel History</div>
      <div style="font-style: italic;">No data to display.</div>
    </mat-card>
  </div>

  <div class="top-spacer" id="immunization">
    <mat-card class="mat-elevation-z8">
      <div class="category-text">Immunization History</div>
      <div *ngIf="!caseDetails.Immunization_History || caseDetails.Immunization_Historyleading ==0">
        <div style="font-style: italic;">No data to display.</div>
      </div>
      <div *ngFor="let immunization of caseDetails.Immunization_History">
        <table style="width: 100%">
          <tr>
            <td style="width:20%">Code</td>
            <td>{{immunization.Code}}</td>
          </tr>
          <tr>
            <td style="width:20%">System</td>
            <td>{{immunization.System}}</td>
          </tr>
          <tr>
            <td style="width:20%">Date</td>
            <td>{{immunization.Date}}</td>
          </tr>
        </table>
      </div>
    </mat-card>
  </div>

  <div class="top-spacer" id="dates">
    <mat-card class="mat-elevation-z8">
      <div class="category-text">Dates</div>
      <div *ngIf="!caseDetails.Patient">
        <div style="font-style: italic;">No data to display.</div>
      </div>
      <div>
        <table style="width: 100%">
          <tr>
            <td style="width:20%">Code</td>
            <td>{{caseDetails.Patient?.Admission_DateTime | date}}</td>
          </tr>
          <tr>
            <td style="width:20%">Date Discharged</td>
            <td>{{caseDetails.Patient?.Date_Discharged | date}}</td>
          </tr>
          <tr>
            <td style="width:20%">Date of Onset</td>
            <td>{{caseDetails.Patient?.Date_Of_Onset | date}}</td>
          </tr>
        </table>
      </div>
    </mat-card>
  </div>

  <div class="top-spacer" id="diagnostics">
    <mat-card class="mat-elevation-z8">
      <div class="category-text">Diagnosis</div>
      <div *ngIf="!caseDetails.Patient.Diagnosis|| caseDetails.Patient.Diagnosis.length == 0">
        <div style="font-style: italic;">No data to display.</div>
      </div>
      <div *ngFor="let diagnose of caseDetails.Patient.Diagnosis">
        <table style="width: 100%">
          <tr>
            <td style="width:20%">Code</td>
            <td>{{diagnose.Code}}</td>
          </tr>
          <tr>
            <td style="width:20%">Date</td>
            <td>{{diagnose.Date | date}}</td>
          </tr>
          <tr>
            <td style="width:20%">Display</td>
            <td>{{diagnose.Display}}</td>
          </tr>
          <tr>
            <td style="width:20%">System</td>
            <td>{{diagnose.System}}</td>
          </tr>
        </table>
      </div>
    </mat-card>
  </div>

  <div class="top-spacer"  id="medication">
    <mat-card class="mat-elevation-z8">
      <div class="category-text">Medication</div>
      <div *ngIf="!caseDetails.Patient['Medication Provided']|| caseDetails.Patient['Medication Provided'].length == 0">
        <div style="font-style: italic;">No data to display.</div>
      </div>
      <div *ngIf="caseDetails.Patient['Medication Provided'].length > 0">
        <table style="width: 100%">
          <thead>
          <tr>
            <th>Code</th>
            <th>Date</th>
            <th>Display</th>
            <th>Dosage</th>
            <th>Frequency</th>
            <th>System</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let medication of caseDetails.Patient['Medication Provided']">
            <td>{{medication.Code}}</td>
            <td>{{medication.Date | date}}</td>
            <td>{{medication.Display}}</td>
            <td>
              {{medication.Dosage.Value}} {{medication.Dosage.Unit}}
            </td>
            <td>{{medication.Frequency}}</td>
            <td>{{medication.System}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </mat-card>
  </div>

  <div class="top-spacer"  id="lab_results">
    <mat-card class="mat-elevation-z8">
      <div class="category-text">Lab Results</div>
      <div *ngIf="!caseDetails.Patient['Lab_Order_Code'] || caseDetails.Patient['Lab_Order_Code'].length == 0">
        <div style="font-style: italic;">No data to display.</div>
      </div>
      <div class="top-spacer" *ngFor="let lab of caseDetails.Patient['Lab_Order_Code']">
        {{lab.Display}}
        <div>
          <table style="width: 100%">
            <thead>
            <tr>
              <th>System:Code</th>
              <th>Date</th>
              <th>Display</th>
              <th>Unit</th>
              <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let result of lab.Laboratory_Results">
              <td>{{result.System}}:{{result.Code}}</td>
              <td>{{result.Date}}</td>
              <td>{{result.Display}}</td>
              <td>{{result.Unit.Code}}</td>
              <td>
                {{result.Value}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="top-spacer" id="symptoms">
    <mat-card class="mat-elevation-z8">
      <div class="category-text">Symptoms</div>
      <div *ngIf="!caseDetails.Patient.Symptoms || caseDetails.Patient.Symptoms.length == 0">
        <div style="font-style: italic;">No data to display.</div>
      </div>
      <div *ngFor="let symptom of caseDetails.Patient.Symptoms">
        <table style="width: 100%">
          <tr>
            <td style="width:20%">Code</td>
            <td>{{symptom.Code}}</td>
          </tr>
          <tr>
            <td style="width:20%">Display</td>
            <td>{{symptom.Display}}</td>
          </tr>
          <tr>
            <td style="width:20%">System</td>
            <td>{{symptom.System}}</td>
          </tr>
        </table>
      </div>
    </mat-card>
  </div>

</div>
