<mat-sidenav-container [hasBackdrop]=false fullscreen>

<mat-sidenav #sidenav mode="over">

  <mat-nav-list (click)="sidenav.close()" style="margin-top: 5vh">

    <a mat-list-item (click)="scroll(provider)" color="primary">
      Provider
    </a>

    <a mat-list-item (click)="scroll(facility)">
      Faculty
    </a>

    <a mat-list-item (click)="scroll(identifying_info)">
      Identifying Info
    </a>

    <a mat-list-item (click)="scroll(guardian)">
      Guardian
    </a>

    <a mat-list-item (click)="scroll(immunization)">
      Immunization
    </a>

    <a mat-list-item (click)="scroll(dates)">
      Dates
    </a>

    <a mat-list-item (click)="scroll(diagnostics)">
      Diagnostics
    </a>

    <a mat-list-item (click)="scroll(medication)">
      Medication
    </a>

    <a mat-list-item (click)="scroll(lab_results)">
      Lab Results
    </a>

    <a mat-list-item (click)="scroll(symptoms)">
      Symptoms
    </a>


  </mat-nav-list>

</mat-sidenav>


<mat-toolbar class="mat-elevation-z1 position-fixed toolbar" style="margin-top: 5vh;">
  <mat-toolbar-row>
    <button *ngIf="!isLargeScreenMode" color="primary"
            matTooltip="Open Shortcut Menu" aria-label="menu open" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="container">
        {{ caseDetails?.Patient?.Name?.family }}, {{ caseDetails?.Patient?.Name?.given }}
      <span *ngIf="isLargeScreenMode">
      <button mat-button (click)="scroll(provider)" color="primary">
        Provider
      </button>
      <button mat-button (click)="scroll(facility)" color="primary">
        Facility
      </button>
      <button mat-button (click)="scroll(identifying_info)" color="primary">
        Identifying Info
      </button>
      <button mat-button (click)="scroll(guardian)" color="primary">
        Guardian Info
      </button>
      <button mat-button (click)="scroll(immunization)" color="primary">
        Immunization
      </button>
      <button mat-button (click)="scroll(dates)" color="primary">
        Dates
      </button>
      <button mat-button (click)="scroll(diagnostics)" color="primary">
        Diagnostics
      </button>
      <button mat-button (click)="scroll(medication)" color="primary">
        Medication
      </button>
      <button mat-button (click)="scroll(lab_results)" color="primary">
        Lab Results
      </button>
      <button mat-button (click)="scroll(symptoms)" color="primary">
        Symptoms
      </button>
      </span>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="top-spacer bottom-spacer container" style="padding-bottom: 1em; margin-top: 10vh;" (click)="sidenav.close()" >

  <div class="top-spacer anchor-offset" #provider>
    <mat-card class="mat-elevation-z4">
      <div class="category-text">Provider</div>
      <div *ngIf="!caseDetails?.Provider?.length">
        <div style="font-style: italic;">No data to display.</div>
      </div>
      <div *ngIf="caseDetails?.Provider?.length> 0">
        <table style="width: 100%;">
          <thead>
          <tr>
            <th>Address</th>
            <th>Country</th>
            <th>Email</th>
            <th>Facility</th>
            <th>Fax</th>
            <th>Name</th>
            <th>Phone</th>
            <th>ID</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let provider of caseDetails.Provider">
            <td>{{provider.Address}}</td>
            <td>{{provider.Country}}</td>
            <td>{{provider.Email}}</td>
            <td>{{provider.Facility}}</td>
            <td>{{provider.Fax}}</td>
            <td>{{provider.Name}}</td>
            <td>{{provider.Phone}}</td>
            <td>{{provider.ID?.type}} {{provider.ID?.value}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </mat-card>
  </div>


  <div class="top-spacer anchor-offset" #facility>
    <mat-card class="mat-elevation-z4">
      <div class="category-text">Facility</div>
      <div *ngIf="!caseDetails?.Facility">
        <div style="font-style: italic;">No data to display.</div>
      </div>
      <div *ngIf="caseDetails?.Facility">
        <table style="width: 100%">
          <tr>
            <td style="width:20%">Address</td>
            <td>{{caseDetails.Facility.Address}}</td>
          </tr>
          <tr>
            <td style="width:20%">Fax</td>
            <td>{{caseDetails.Facility.Fax}}</td>
          </tr>
          <tr>
            <td style="width:20%">Hospital Unit</td>
            <td>{{caseDetails.Facility.Hospital_Unit}}</td>
          </tr>
          <tr>
            <td style="width:20%">Name</td>
            <td>{{caseDetails.Facility.Name}}</td>
          </tr>
          <tr>
            <td style="width:20%">Phone</td>
            <td>{{caseDetails.Facility.Phone}}</td>
          </tr>
        </table>
      </div>
    </mat-card>
  </div>

  <div class="top-spacer anchor-offset" #identifying_info>
    <mat-card class="mat-elevation-z4">
      <div class="category-text">Patient Identifying Info</div>
      <div *ngIf="!caseDetails?.Patient">
        <div style="font-style: italic;">No data to display.</div>
      </div>
      <div *ngIf="caseDetails?.Patient">
        <table style="width: 100%">
          <tr>
            <td>Birth Date</td>
            <td>{{caseDetails.Patient.Birth_Date | date}}</td>
          </tr>
          <tr>
            <td>Death Date</td>
            <td>{{caseDetails.Patient.Death_Date}}</td>
          </tr>
          <tr>
            <td>Ethnicity</td>
            <td>{{caseDetails.Patient.Ethnicity?.Display}}</td>
          </tr>
          <tr>
            <td>Insurance</td>
            <td>{{caseDetails.Patient.Insurance_Type?.Display}}</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>{{caseDetails.Patient.Name?.given}} {{caseDetails.Patient.Name?.family}}</td>
          </tr>
          <tr>
            <td>Occupation</td>
            <td>{{caseDetails.Patient.Occupation}}</td>
          </tr>
          <tr>
            <td>Race</td>
            <td>{{caseDetails.Patient.Race.Display}}</td>
          </tr>
          <tr>
            <td>Sex</td>
            <td>{{caseDetails.Patient?.Sex}}</td>
          </tr>
          <tr>
            <td>Pregnant</td>
            <td>{{caseDetails.Patient.Pregnant}}</td>
          </tr>
          <tr>
            <td>Patient Class</td>
            <td>{{caseDetails.Patient.PatientClass}}</td>
          </tr>
          <tr>
            <td>Address</td>
            <td>{{caseDetails.Patient.Street_Address}}</td>
          </tr>
        </table>
      </div>
    </mat-card>
  </div>

  <div class="top-spacer anchor-offset" #guardian>
    <mat-card class="mat-elevation-z4">
      <div class="category-text">Patient Guardian Info</div>
      <div *ngIf="!caseDetails?.Patient?.Parents_Guardians?.length">
        <div style="font-style: italic;">No data to display.</div>
      </div>
      <div *ngIf="caseDetails?.Patient?.Parents_Guardians?.length > 0">
        <table style="width: 100%;">
          <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let guardian of caseDetails.Patient.Parents_Guardians">
            <td>{{guardian.Name.given}} {{guardian.Name.family}}</td>
            <td>{{guardian.Phone}}</td>
            <td>{{guardian.Email}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </mat-card>
  </div>

  <div class="top-spacer anchor-offset">
    <mat-card class="mat-elevation-z4">
      <div class="category-text">Travel History</div>
      <div style="font-style: italic;">No data to display.</div>
    </mat-card>
  </div>

  <div class="top-spacer anchor-offset" #immunization>
    <mat-card class="mat-elevation-z4">
      <div class="category-text">Immunization History</div>
      <div *ngIf="!caseDetails?.Patient?.Immunization_History?.length">
        <div style="font-style: italic;">No data to display.</div>
      </div>
      <div *ngIf="caseDetails?.Patient?.Immunization_History?.length > 0">
        <table style="width: 100%;">
          <thead>
          <tr>
            <th>Code</th>
            <th>System</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let immunization of caseDetails.Patient.Immunization_History">
            <td>{{immunization.Code}}</td>
            <td>{{immunization.System}}</td>
            <td>{{immunization.Date | date}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </mat-card>
  </div>

  <div class="top-spacer anchor-offset" #dates>
    <mat-card class="mat-elevation-z4">
      <div class="category-text">Clinical Dates</div>
      <div *ngIf="!caseDetails?.Patient">
        <div style="font-style: italic;">No data to display.</div>
      </div>
      <div *ngIf="caseDetails?.Patient">
        <table style="width: 100%">
          <tr>
            <td style="width:20%">Code</td>
            <td>{{caseDetails.Patient?.Admission_DateTime | date}}</td>
          </tr>
          <tr>
            <td style="width:20%">Date Discharged</td>
            <td>{{caseDetails.Patient?.Date_Discharged | date}}</td>
          </tr>
          <tr>
            <td style="width:20%">Date of Onset</td>
            <td>{{caseDetails.Patient?.Date_Of_Onset | date}}</td>
          </tr>
        </table>
      </div>
    </mat-card>
  </div>

  <div class="top-spacer anchor-offset" #diagnostics>
    <mat-card class="mat-elevation-z4">
      <div class="category-text">Diagnosis</div>
      <div *ngIf="!caseDetails?.Patient?.Diagnosis?.length">
        <div style="font-style: italic;">No data to display.</div>
      </div>
      <div *ngIf="caseDetails?.Patient?.Diagnosis?.length > 0">
        <table style="width: 100%;">
          <thead>
          <tr>
            <th>Code</th>
            <th>Date</th>
            <th>Display</th>
            <th>System</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let diagnose of caseDetails.Patient.Diagnosis">
            <td>{{diagnose.Code}}</td>
            <td>{{diagnose.Date | date}}</td>
            <td>{{diagnose.Display}}</td>
            <td>{{diagnose.System}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </mat-card>
  </div>

  <div class="top-spacer anchor-offset"  #medication>
    <mat-card class="mat-elevation-z4">
      <div class="category-text">Medication</div>
      <div *ngIf="!caseDetails?.Patient['Medication Provided']?.length">
        <div style="font-style: italic;">No data to display.</div>
      </div>
      <div *ngIf="caseDetails?.Patient['Medication Provided'].length > 0">
        <table style="width: 100%">
          <thead>
          <tr>
            <th>Code</th>
            <th>Date</th>
            <th>Display</th>
            <th>Dosage</th>
            <th>Frequency</th>
            <th>System</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let medication of caseDetails.Patient['Medication Provided']">
            <td>{{medication.Code}}</td>
            <td>{{medication.Date | date}}</td>
            <td>{{medication.Display}}</td>
            <td>
              {{medication.Dosage.Value}} {{medication.Dosage.Unit}}
            </td>
            <td>{{medication.Frequency}}</td>
            <td>{{medication.System}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </mat-card>
  </div>

  <div class="top-spacer anchor-offset"  #lab_results>
    <mat-card class="mat-elevation-z4">
      <div class="category-text">Lab Results</div>
      <div *ngIf="!caseDetails?.Patient['Lab_Order_Code']?.length">
        <div style="font-style: italic;">No data to display.</div>
      </div>
      <div class="top-spacer" *ngFor="let lab of caseDetails?.Patient['Lab_Order_Code']">
        {{lab.Display}}
        <div>
          <table style="width: 100%">
            <thead>
            <tr>
              <th>System:Code</th>
              <th>Date</th>
              <th>Display</th>
              <th>Unit</th>
              <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let result of lab.Laboratory_Results">
              <td>{{result.System}}:{{result.Code}}</td>
              <td>{{result.Date}}</td>
              <td>{{result.Display}}</td>
              <td>{{result.Unit.Code}}</td>
              <td>
                {{result.Value}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="top-spacer anchor-offset" #symptoms>
    <mat-card class="mat-elevation-z4">
      <div class="category-text">Symptoms</div>
      <div *ngIf="!caseDetails?.Patient?.Symptoms?.length">
        <div style="font-style: italic;">No data to display.</div>
      </div>
      <div *ngIf="caseDetails?.Patient.Symptoms.length > 0">
        <table style="width: 100%">
          <thead>
          <tr>
            <th>Code</th>
            <th>Date</th>
            <th>Display</th>
            <th>System</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let symptom of caseDetails.Patient.Symptoms">
            <td>{{symptom.Code}}</td>
            <td>{{symptom.Date | date}}</td>
            <td>{{symptom.Display}}</td>
            <td>{{symptom.System}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </mat-card>
  </div>

</div>
</mat-sidenav-container>
