<div *ngIf="!medicationsProvided?.length">{{appConstants.NO_DATA_TO_DISPLAY}}</div>
<table>
  <thead>
  <tr>
    <th *ngFor="let item of medicationsProvided?.[0]">{{ item.key }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of medicationsProvided">
    <td *ngFor="let item of row">{{ item.value  | dateValue }}</td>
  </tr>
  </tbody>
</table>

<button mat-stroked-button color="primary" *ngIf="!historyVisible" (click)="historyVisible=!historyVisible">
  <mat-icon>expand_more</mat-icon>
  Show History
</button>
<button mat-stroked-button color="primary" *ngIf="historyVisible" (click)="historyVisible=!historyVisible">
  <mat-icon>expand_less</mat-icon>
  Hide History
</button>

<table mat-table [dataSource]="dataSource" *ngIf="historyVisible" matSort class="mat-elevation-z1"
       style="margin-bottom: 1em" matSortActive="date" matSortDirection="desc">

  <ng-container matColumnDef="source">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Source</th>
    <td mat-cell *matCellDef="let record"> {{record.source}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
    <td mat-cell *matCellDef="let record"> {{record.date | date: 'MMM d, yyyy, HH:mm'}} </td>
  </ng-container>

  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
    <td mat-cell *matCellDef="let record"> {{record.code}} </td>
  </ng-container>

  <ng-container matColumnDef="system">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>System</th>
    <td mat-cell *matCellDef="let record"> {{record.system}} </td>
  </ng-container>

  <ng-container matColumnDef="display">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Display</th>
    <td mat-cell *matCellDef="let record"> {{record.display}} </td>
  </ng-container>

  <ng-container matColumnDef="dosage">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Dosage</th>
    <td mat-cell *matCellDef="let record"> {{record.gender}} </td>
  </ng-container>

  <ng-container matColumnDef="frequency">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Frequency</th>
    <td mat-cell *matCellDef="let record"> {{record.frequency}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td [attr.colspan]="displayedColumns.length">
      No data found.
    </td>
  </tr>

</table>

