<app-person-info></app-person-info>
<div class="container">
  <div class="top-margin">
    <div class="box page-title">Record Details</div>
    <div class="box" style="justify-content: space-between; margin-top: 24px">
      <button mat-raised-button color="primary"
        (click)="onViewRecordHistory()">
        <mat-icon>history</mat-icon>
        View History
      </button>
      @if (errorMessageStr && !isLoadingTriggerData) {
        <span style="color:red; margin: auto 0">{{ errorMessageStr }}</span>
      }
      @if (isLoadingTriggerData && !errorMessageStr) {
        <span style="margin: auto 0" >The Record is Auto Refreshing</span>
      }
      @if (isLoadingTriggerData && !errorMessageStr) {
        <mat-progress-bar style="max-width: 30%; margin: auto 0" mode="indeterminate"></mat-progress-bar>
      }
      <div>
        @if (!isLoading) {
          <button mat-raised-button (click)="onRefreshRecord(recordId);" style="margin-right: 8px" [disabled]="isLoadingTriggerData">
            <mat-icon>sync</mat-icon>
            Reload Record
          </button>
        }
        @if (!isLoadingTriggerData) {
          <button mat-raised-button (click)="onQueryRecord(recordId);" color="warn">
            <mat-icon>bolt</mat-icon>
            Query Record
          </button>
        }
        @if (isLoadingTriggerData) {
          <button mat-raised-button (click)="onCancelRecordRefresh(recordId);" color="primary">
            <mat-icon>cancel</mat-icon>
            Stop Auto Refresh
          </button>
        }
      </div>
    </div>
    <div class="top-margin">
      <app-record-details-container
        [recordHistory]="recordHistory"
        [caseDetails]="caseDetails">
      </app-record-details-container>
    </div>
  </div>
</div>
