table {
  margin-bottom: 1em;
  margin-top: 1em;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

//tr:nth-child(even) {
//  background-color: #F6F6F6;
//}

section {
  display: table;
}

.category-text {
  font-size: 1.4em;
  color:#3F51B5;
  padding-top: 0.5em;
}

.center-content {
  flex: 1 1 auto;
  text-align: center;
}

/*We need offset the anchors because we added two headers each with height 5vh*/
/*Without this the anchor is not going to point the right location in the dom*/
.anchor-offset {
  scroll-margin-top: 10vh;
}

.mat-list-base .mat-list-item {
  color: #3f51b5;
}

.title-width{
  width: 20%;
}
