@for ( labOrder of labOrders; track  labOrder) {
  <div>
    <mat-card class="top-margin">
      <mat-card-content>
        <div>
          <span style="margin-right: 16px">{{ labOrder.Display }}</span>
          <span style="margin-right: 16px"> {{ labOrder.Value }} </span>
          <span style="margin-right: 16px">Code: {{ labOrder.Code }}</span>
          <span style="margin-right: 16px">Date: {{ labOrder.Date | date}}</span>
        </div>
        <div class="top-margin">
          Lab Results
          <table>
            <thead>
              <tr>
                @for (item of labOrder?.labResults?.[0]; track item) {
                  <th>{{ item.key }}</th>
                }
              </tr>
            </thead>
            <tbody>
              @for (row of labOrder?.labResults; track row) {
                <tr>
                  @for (item of row; track item) {
                    <td>{{ item.value  | dateValue }}</td>
                  }
                </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="top-margin">
          Facility
          <table>
            @for ( row of labOrder.facility; track  row) {
              <tr>
                <td class="title-width">{{ row.key }}</td>
                <td>{{ row.value || ''}}</td>
              </tr>
            }
          </table>
        </div>
        <div class="top-margin">
          Provider
          <table>
            @for ( row of labOrder.provider; track  row) {
              <tr>
                <td class="title-width">{{ row.key }}</td>
                <td>{{ row.value || ''}}</td>
              </tr>
            }
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
}

