table {
  width: 100%;
}

.spinner-container {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 20%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
}
