<mat-toolbar>
  <div class="box-columns">
    <div class="box">
      <div class="box-colum left-align">
        <div>George P. Burdell</div>
        <div> Record: 12345678</div>
      </div>
    </div>


    <div class="box">

      <div class="box-colum right-align">
        <div class="demographic-label">Diagnoses:</div>
        <div class="demographic-label">Status</div>
      </div>
      <div class="box-colum left-align">
        <div class="demographic-info">Gonorrhea</div>
        <div class="demographic-info">Running</div>
      </div>

      <div class="box-colum right-align">
        <div class="demographic-label">Administrative Sex:</div>
        <div class="demographic-label">DOB:</div>
      </div>
      <div class="box-colum left-align">
        <div class="demographic-info">Male</div>
        <div class="demographic-info">June 12, 2089</div>
      </div>


    </div>

  <div class="box">
    <button mat-button color="primary">
      <mat-icon>history</mat-icon>
      View History
    </button>
<!--    <button mat-button color="primary">-->
<!--      <mat-icon>table_view</mat-icon>-->
<!--      Details-->
<!--    </button>-->
  </div>
  </div>
</mat-toolbar>
