<mat-toolbar>
  <div class="box-columns">
    <div class="box">
      <div class="box-colum left-align">
        <div>Patient: {{ personInfo?.givenName }} {{ personInfo?.lastName }}</div>
        <div> Medical Record #: {{ personInfo?.recordId }}</div>
      </div>
    </div>


    <div class="box">

      <div class="box-colum right-align">
        <div class="demographic-label">Diagnosis:</div>
        <div class="demographic-label">Status:</div>
      </div>
      <div class="box-colum left-align">
        <div class="demographic-info">{{ personInfo?.diagnosis }}</div>
        <div class="demographic-info">{{ personInfo?.status }}</div>
      </div>

      <div class="box-colum right-align">
        <div class="demographic-label">Sex:</div>
        <div class="demographic-label">DOB:</div>
      </div>
      <div class="box-colum left-align">
        <div class="demographic-info">{{ personInfo?.gender }}</div>
        <div class="demographic-info">{{ personInfo?.dob | date }}</div>
      </div>

      <div class="box-colum right-align">
        <div class="demographic-label">Insurance:</div>
        <div class="demographic-label">Address:</div>
      </div>
      <div class="box-colum left-align">
        <div class="demographic-info"> Needs data </div>
        <div class="demographic-info">{{ personInfo?.streetAddress}}</div>
      </div>


    </div>

  <div class="box">
    <button *ngIf="route?.snapshot?.url?.[0]?.path === 'record-details'" mat-button color="primary" (click)="onViewRecordHistory()">
      <mat-icon>history</mat-icon>
      View History
    </button>
    <button *ngIf="route?.snapshot?.url?.[0]?.path === 'record-history'" mat-button color="primary" (click)="onViewRecordDetails()">
      <mat-icon>table_view</mat-icon>
      View Details
    </button>
  </div>
  </div>
</mat-toolbar>
